.image-ideas-item{
    height: 100px;
    width: 100px;
    display: inline-block;
    vertical-align: top;
    border-radius: 10px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
}

.image-ideas-item:hover {
}

.image-ideas-item-0{
    background: url(../img/logo_see.png) no-repeat center center;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
    margin-top: 30px;
    margin-left: 10px;
    height: 70px;
    width: 70px;
}

.image-ideas-item-1{
    background: url(../img/icon/nature.png) no-repeat center center;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;
}

.image-ideas-item-2{
    background: url(../img/icon/colosseum.png) no-repeat center center;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;
}

.image-ideas-item-3{
    background: url(../img/icon/Museum.png) no-repeat center center;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;
}

.image-ideas-item-4{
    background: url(../img/icon/fortress.png) no-repeat center center;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;
}

.image-ideas-item-5{
    background: url(../img/icon/bicycle.png) no-repeat center center;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;
}

.image-ideas-item-6{
    background: url(../img/icon/tourism.png) no-repeat center center;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;
}

.image-ideas-item-7{
    background: url(../img/icon/beach.png) no-repeat center center;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;
}

.image-ideas-item-8{
    background: url(../img/icon/family.png) no-repeat center center;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;
}

.image-ideas-item-9{
    background: url(../img/icon/food.png) no-repeat center center;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;
}

.image-ideas-item-10{
    background: url(../img/icon/movie.png) no-repeat center center;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;
}

.image-ideas-item-11{
    background: url(../img/icon/snowboard.png) no-repeat center center;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;
}

.image-ideas-item-12{
    background: url(../img/icon/waterfall.png) no-repeat center center;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;
}

.image-ideas-item-13{
    background: url(../img/icon/church.png) no-repeat center center;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;
}


.image-ideas-item-14{
    background: url(../img/icon/sports.png) no-repeat center center;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;
}


