*:focus {
    outline: none;
}

#login-form, #reg-form{
    position: absolute;
    height: auto;
    z-index: 1;
    background:rgba(255,255,255,0.6);
    border-radius: 1px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
}


#login-form{
    width: 100%;
    top: 70px;
    left: 0%;
}

#reg-form{
    width: 100%;
    top: 0px;
    left: 0%;
    opacity: 0;
}

#login-form table{
    margin-top: 20px;
    width: 100%;
    height: 50%;
}

#reg-form table{
    margin-top: 20px;
    width: 100%;
    height: 50%;
}

#login-form table td, #reg-form table td{
    width: 50%;
    height: 45px;
}

table td{
    margin-top: 2px;
}

.login-text-header{
    display:inline-block;
    align-self: center;
    width: 100%;
    text-align: center;
    color: darkslategray;
    font-size: 16px;
    font-family:  tahoma, arial, verdana, sans-serif, 'Lucida Sans';
    font-weight: bold;
}

.login-label-input, .login-label-link-pwd, .login-label-error{
    color: darkslategray;
    font-size: 14px;
    font-family:  tahoma, arial, verdana, sans-serif, 'Lucida Sans';
    font-weight: lighter;
    text-align: center;
    height: auto;
}

.login-label-link-pwd{
    text-decoration: underline;
    cursor: pointer;
}

#login-form-email,
#login-form-password,
#login-form-submit,
#login-form-reg,
#reg-form-email,
#reg-form-name,
#reg-form-password,
#reg-form-repeat-password,
#reg-form-submit,
#reg-form-cancel,
#login-facebook,
#login-google,
#login-vkontakte,
#login-demo,
#about-us{
    width: 90%;
    height:32px;
    font: 14px Verdana,Helvetica;
    border-radius: 2px;
    text-align: center;
    border: 1px solid lightgray;
}

#reg-form-email,
#reg-form-name,
#reg-form-password,
#reg-form-repeat-password{
    width: 90%;
    height: 36px;
}


#login-form-submit, #login-form-reg, #reg-form-submit, #reg-form-cancel{
    background: darkslategray;
    border: 0px solid #ffffff;
    color: #ffffff;
    padding: 2px;
    width: 91%;
    height:36px;
}

#login-form-submit:hover, #login-form-reg:hover, #reg-form-submit:hover, #reg-form-cancel:hover{
    cursor: pointer;
}

#login-form-reg{
    background: steelblue;
}

#login-form-submit:active{
    background: darkcyan;
}

#login-form-reg:active{
    background: cadetblue;
}

#reg-form-submit{
    margin-left: 5%;
    float: left;
    width: 40%;
    background: seagreen;
}

#reg-form-submit:active{
    background: mediumspringgreen;
}

#reg-form-cancel{
    width: 40%;
    float: right;
    margin-right: 4%;
    background: lightcoral;
}

#reg-form-cancel:active{
    background: coral;
}

.login-label-error{
    width: 100%;
    opacity: 0;
    color: red;
    text-align: center;
    align-self: center;
}

#login-facebook, #login-google, #login-vkontakte, #login-demo, #about-us {
    border: 0px solid #ffffff;
    color: #ffffff;
    padding: 2px;
    width: 90%;
    height:36px;
}

#login-facebook{
    background-color: rgb(58,87,153);
}

#login-facebook:active{
    background-color: rgb(58,107,153);
}

#login-google{
    background-color: rgb(224,76,64);
}

#login-google:active{
    background-color: rgb(224,106,64);
}

#login-vkontakte{
    background-color: rgb(76,117,163);
}

#login-vkontakte:active{
    background-color: rgb(76,137,163);
}

#logo{
    opacity:0.7;
    position: fixed;
    z-index: 5;
    left: 48%;
    top:90%;
    width: 4%;
    height: auto;
    border-radius: 5px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
}

#logo:hover{
    opacity:0.9;
}

#login-demo {
    background: rgb(0, 169, 213) url("../img/logo_see.png") no-repeat;
    -webkit-background-size: contain; /* For WebKit*/
    -moz-background-size: contain;    /* Mozilla*/
    -o-background-size: contain;      /* Opera*/
    background-size: contain;
    color: white;
}

#login-demo:active{
    background: rgb(0, 169, 243) url("../img/logo_see.png") no-repeat;
    -webkit-background-size: contain; /* For WebKit*/
    -moz-background-size: contain;    /* Mozilla*/
    -o-background-size: contain;      /* Opera*/
    background-size: contain;
    color: lightyellow;
}

#about-us{
    background:  lightslategray;
    color: white;
}

#about-us:active{
    background:  lightsteelblue;
    color: white;
}

#footer{
    color: #333;
    width:20%;
    text-align: center;
    margin-left: 40%;
    font-size: 10px;
    top:100%;
    position: absolute;
}

#social-block{
    background:rgba(255,255,255,0.1);
    position: absolute;
    top: 410px;
    left: 0;
    height: 50px;
    width: 100%;
    z-index: 1;
    border-radius: 1px;
}

#social-block table{
    width: 80%;
    margin-left: 10%;
    height: 100%;
}

#social-block table td{
    width: 20%;
}

#social-block table td img{
    height: 45px;
    border-radius: 50px;
    opacity: 0.8;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
}
