html {
    -webkit-text-size-adjust: none
}

*:focus {
    outline: none;
}

*::-webkit-input-placeholder {
    color: lightgray;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: lightgray;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: lightgray;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: lightgray;
}

.ui-dialog {
    z-index: 1000 !important ;
    font-family:  tahoma, arial, verdana, sans-serif, 'Lucida Sans';
}

body{
    background: #e7e9ec;
}

#main-logo{
    margin-left: 5px ; width: auto; height: 100%;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
}

#s-top-side-panel, #top-side-panel{
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    position: fixed;
    top: 0;
    display: table-cell;
    vertical-align: middle;
}

#top-side-panel{
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 3;
    width: 100%;
    height: 40px;
    left: 0%;
    background-color: #696969;
    background-image: -webkit-linear-gradient(top, #696969 0%,#3f3f3f 100%);
    background-image: -moz-linear-gradient(top, #696969 0%,#3f3f3f 100%);
    background-image: -o-linear-gradient(top, #696969 0%,#3f3f3f 100%);
    background-image: linear-gradient(top, #696969 0%,#3f3f3f 100%);

}

#s-top-side-panel {
    z-index: 2;
    width: 100%;
    left: 0%;
    height: 30px;
    top: 50px;
    background: #333;
    -webkit-border-bottom-right-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;

}



#ideas-content {
    position: absolute;
    z-index: 1;
    top: 70px;
    width: 100%;
    height: auto;
    left: 0%;
    right: 0%;
    color: black;
    padding-bottom: 10%;
}

.top-panel-menu-items{
    color: white;
    font-family:  tahoma, arial, verdana, sans-serif, 'Lucida Sans';
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
    font-size: 10px;
    line-height: normal;
}


.top-panel-menu-items:hover{
    background: #696969;
    border-radius: 5px;
}

#top-panel-menu{
    height: 100%;
    width: 80%;
    float: right;
    margin-right: 0%;
    font-size: 8px;
}

#top-panel-menu td, #s-top-side-panel td{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    text-align: center;
}

#search-input{
    border: 0;
    padding: 4px 41px 3px 20px;
    outline: 0;
    width: 40%;
    height: 10px;
    background: #ffffff url(../img/search_icon_d.gif) no-repeat 6px -11px;
    border-radius: 2px;
    font-family:  tahoma, arial, verdana, sans-serif, 'Lucida Sans';
    font-size: 10px;
}

#s-top-panel-menu{
    width: 100%;
    margin-left: 0%;
    height: 100%;
}


#region-select, #category-select, #search-city, #sort-select, #search-submit {
    width: 95%;
    border: 0px solid white;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
    border-radius: 2px;
    -webkit-appearance: none;
    background: #696969;
    color: white;
    height: auto;
    font-family: tahoma, arial, verdana, sans-serif, 'Lucida Sans';
    font-size: 8px;
    font-weight: lighter;
}

#search-city{
    height: auto;
}


#search-submit:active{
    background: #e7e9ec;
}

.ui-menu {
    position: fixed;
    margin-left:1.5%;
    z-index: 505;
}

li.ui-menu-item {
    font-size:10px;
    text-align: left;
    z-index: 600;}

#list-ideas-content{
    width: 96%;
    margin-left: 1%;
    margin-right: 1%;
    padding: 0;
    height: auto;
}

#list-ideas-content li {
    list-style-type: none;
    float: left;
    width: 100%;
    height: auto;
    margin-top: 1%;
    padding: 5px;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
    border-radius: 1px;
    background: #ffffff;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    word-wrap: break-word;
    font-family: tahoma, arial, verdana, sans-serif, 'Lucida Sans';
}

#list-ideas-content li:hover{
    -webkit-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.75);
}

.left-side-block, .right-side-block{
    display: inline-block;
}


.left-side-block {
    float: left;
    width: 20%;
    height: 100%;
}

.right-side-block {
    float: right;
    width: 70%;
    height: 100%;
}

.info-ideas-item{
    margin-top: 10px;
    width: 100px;
    color: black;
    float: left;
    text-align: center;
    color: #696969;
    font-size: 12px;
}

.id-ideas-item{
    display: none;
}

.subject-ideas-item{
    width: 100%;
    text-align: center;
    display: inline-block;
    align-content: stretch;
    font-weight: bold;
    color: steelblue;
    font-size: 14px;
    color: rgb(0, 169, 213);
}

.description-ideas-item{
    width: 90%;
    margin-left: 5%;
    text-align: justify;
    display: inline-block;
    align-content: stretch;
    font-size: 12px;
    color: #333;
}

.like-icon{
    width: 15px;
    height: 15px;
    margin: 2px 2px 0px;
    padding-right: 1px;
    opacity: 0.8;
    filter: alpha(opacity=40);
}

#layer-bg{
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.7;
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 499;
    overflow-y: scroll;
}

#layer-wrapper, #layer-wrapper-new-idea, #layer-wrapper-edit-profile {
    position: fixed;
    z-index: 500;
    background: #ffffff;
    display: none;
    width: 80%;
    left: 0%;
    height: 79%;
    top: 0%;
    min-height: 100px;
    padding: 5px 50px 50px;
    -moz-user-select: text;
    -khtml-user-select: text;
    -webkit-user-select: text;
    user-select: text;
    border-top: 30px solid #F3F3F3;
    border-bottom: 30px solid #F3F3F3;
    border-radius: 2px;
}

.close-layer{
    float: right;
    cursor: pointer;
    font-family:  tahoma, arial, verdana, sans-serif, 'Lucida Sans';
    font-size: 10px;
    color: rgb(0, 169, 213);
}

.close-layer:hover{
    text-decoration: underline;
}

#ideas-subject-layer, #new-idea-subject-layer{
    width: 100%;
    height: auto;
    background: #F9F9F9;
    color: rgb(0, 169, 213);
    font-family:  tahoma, arial, verdana, sans-serif, 'Lucida Sans';
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 14px;
}
#ideas-description-layer{
    height: auto;
}
#ideas-description-layer>textarea{
    width: 100%;
    height: 100%;
    text-align: justify;
    font-size: 14px;
    padding-bottom: 20px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    border: none;
    display: none;
}

#date-layer, .ideas-comments-date{
    color: darkgrey;
    font-size: 10px;
    font-family:  tahoma, arial, verdana, sans-serif, 'Lucida Sans';
}

#like-layer{
    color: rgb(0, 169, 213);
    font-size: 10px;
    font-family:  tahoma, arial, verdana, sans-serif, 'Lucida Sans';
    float: right;
}

#like-icon-layer{
    width: 20px;
    height: 20px;
    float: right;
    display: block;
}

#edit-icon-layer, #remove-icon-layer, #done-icon-layer, #spinner-icon-layer{
    width: 20px;
    height: 20px;
    float: left;
    display: none;
    opacity: 0.3;
}

#like-icon-layer:hover, #edit-icon-layer:hover, #remove-icon-layer:hover, #done-icon-layer:hover{
    opacity: 1;
    cursor: pointer;
}

#author-layer, .ideas-comments-author{
    color: rgb(0, 169, 213);
    font-size: 10px;
    font-family:  tahoma, arial, verdana, sans-serif, 'Lucida Sans';
    float: left;
}

/*#author-layer:hover, .ideas-comments-author:hover{*/
    /*cursor: pointer;*/
    /*text-decoration: underline;*/
/*}*/

#comments-layer{
    font-size: 18px;
    color: #696969;
    font-family:  tahoma, arial, verdana, sans-serif, 'Lucida Sans';
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
    height: auto;
    background: #F9F9F9;
}

#ideas-comments-layer{
    height: auto;
    display: inline-block;
    width: 100%;
    padding: 0px;
}

#ideas-comments-layer li{
    list-style-type: none;
    float:left; clear:left;
    left: 0;
    margin-left: 0%;
    width: 100%;
    height: auto;
    margin-top: 30px;
    padding: 5px 5px 10px;
    background: #ffffff;
    border: lightgrey 1px;
    border-bottom-style: solid;
    display: list-item;
}

.ideas-comments-layer{
    list-style: none;
}

.ideas-comments-text{
    width: 100%;
    text-align: justify;
    color: black;
    font-size: 12px;
    font-family:  tahoma, arial, verdana, sans-serif, 'Lucida Sans';
    float: left;
    margin-top: 10px;
}

textarea{
    resize: none;
}

#editable-comments-area textarea, #editable-subject-area input, #editable-body-area textarea{
    height: auto;
    min-height: 30px;
    margin-left: 0%;
    width: 98%;
    border: 1px solid lightgrey;
    margin-top: 10px;
    color: grey;
    font-family:  tahoma, arial, verdana, sans-serif, 'Lucida Sans';
    font-size: 12px;
}
#editable-body-area textarea{
    min-height: 90px;
}

#editable-subject-area{
    font-size: 14px;
}

#editable-body-area{
    min-height: 60px;
    font-size: 10px;
}


#add-comments, #add-new-idea, #submit-change-profile{
    width: auto;
    height: auto;
    background: rgb(0, 169, 213);
    color: white;
    border-radius: 2px;
    padding: 5px 5px;
    font-family:  tahoma, arial, verdana, sans-serif, 'Lucida Sans';
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 10px;
}

#submit-change-profile{
    margin-left: 15%;
}

#done-icon{
    width: 20px;
    height: 20px;
    opacity: 0;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    margin-left: 20px;
}

#add-comments:hover, #add-new-idea:hover, #submit-change-profile:hover{
    background: steelblue;
    cursor: pointer;
}

#cancel-comments, #cancel-new-idea{
    width: auto;
    height: auto;
    border-radius: 2px;
    background: #e7e9ec;
    padding: 5px 5px;
    margin-bottom: 10px;
    color: rgb(0, 169, 213);
    float: right;
    font-family:  tahoma, arial, verdana, sans-serif, 'Lucida Sans';
    font-weight: bold;
    font-size: 12px;
}

#cancel-comments:hover, #cancel-new-idea:hover{
    cursor: pointer;
    background: lightgray;
}

#add-new-idea-button {
    position: fixed;
    width: 60px;
    height: 60px;
    background: rgb(0, 169, 213) url("../img/add-icon-new.png") no-repeat center center;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover; /* Mozilla*/
    -o-background-size: cover; /* Opera*/
    background-size: cover;
    z-index : 5;
    right: 20px;
    bottom: 20px;
    color: rgb(253, 253, 126);
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    z-index: 6;
    border-radius: 100px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    opacity: 1;
    -webkit-box-shadow: 0px 0px 38px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 38px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 38px -2px rgba(0,0,0,0.75);
}


#add-new-idea-button:active {
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
}


#popup{
    z-index: 600;
    position: fixed;
    width: auto;
    height: auto;
    max-width: 200px;
    padding: 5px;
    opacity: 0.8;
    background: #000000;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    font-family:  tahoma, arial, verdana, sans-serif, 'Lucida Sans';
    display: none;
    font-size: 12px;
}

#dropdown-new-idea{
    width: 100%;
    height: 20px;
}

#dropdown-new-idea td{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    align-content: center;
}

#new-idea-region-select, #new-idea-search-city, #new-idea-category-select{
    width: 100%;
    border-radius: 3px;
    -webkit-appearance: none;
    background: #ffffff;
    color: #000000;
    height: 18px;
    font-family: tahoma, arial, verdana, sans-serif, 'Lucida Sans';
    font-size: 8px;
    border: solid 1px lightgrey;
    text-indent: 5px;
}


#new-idea-search-city{
    width: 98%;
    height: 14px;
}

#new-idea-show-map, #idea-show-map{
    width: 100%;
    height: auto;
    background: #e7e9ec;
    color: rgb(0, 169, 213);
    font-family:  tahoma, arial, verdana, sans-serif, 'Lucida Sans';
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 3px;
}

#new-idea-show-map:hover, #idea-show-map:hover{
    cursor: pointer;
    background: #E1E8F8;
}

#my-profile{
    width: auto;
    min-height: 20px;
    height: auto;
    background: #ffffff;
    border-radius: 5px;
    z-index: 500;
    position: fixed;
    display: none;
    padding: 10px;
    box-shadow: black inset 2px 5px;
    -webkit-box-shadow: 0px 4px 3px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 3px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 3px 2px rgba(0,0,0,0.75);
}

#my-ideas, #edit-profile{
    font-family:  tahoma, arial, verdana, sans-serif, 'Lucida Sans';
    font-size: 10px;
    color: rgb(0, 169, 213);
}

#idea-photo-area{
    width: auto;
    height: auto;
    user-select: none;
    display: inline-block;
}


#idea-photo-area div{
    background-size: 100% 100%;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    opacity: 0.8;
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 5px;
    border-radius: 1px;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
}

#idea-big-photo-area{
    width: 100%;
    height: auto;
    position: relative;
}

#idea-big-photo-area:hover{
    background-size: 100% 100%;
}

.edit-profile-input{
    width: 70%;
    margin-left: 15%;
    height: 20px;
    font-size: 10px;
    border-radius: 3px;
    border: solid 1px lightgray;
}

.edit-profile-label, #edit-profile-error{
    font-family:  tahoma, arial, verdana, sans-serif, 'Lucida Sans';
    width: 70%;
    margin-left: 15%;
}

#edit-profile-error{
    color: red;
}

#social-block {
    position: fixed;
    top: 200px;
    width: auto;
    height: auto;
    min-height: 50px;
    padding: 5px;
    background: white;
    border-radius: 1px;
    z-index: 6;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
    display: none;
}

#weather-block{
    position: fixed;
    top: 200px;
    left: 90%;
    width: auto;
    height: auto;
    min-height: 50px;
    padding: 5px;
    background: white;
    z-index: 6;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
}

#ideas-subject-counter, #ideas-body-counter{
    font-size: 10px;
    font-family:  tahoma, arial, verdana, sans-serif, 'Lucida Sans';
    color: green;
    margin-left: 5px;
}

#upimage-container{
    background: url(../img/add_img.png) no-repeat center;
    -webkit-background-size: 10% auto; /* For WebKit*/
    -moz-background-size: 10% auto;    /* Mozilla*/
    -o-background-size: 10% auto;    /* Opera*/
    background-size: 10% auto;
    padding-left: 5px;
    width: 97%;
    height: 80px;
    font-family:  tahoma, arial, verdana, sans-serif, 'Lucida Sans';
    padding-left:5px;
    padding-right:5px;
    font-weight: bold;
    font-size: 12px;
    color: white;
    margin-top:10px;
    overflow: hidden;
    color:  rgb(0, 169, 213);
    border: 2px lightgray dashed;
    border-radius: 3px;
    text-align: center;
    opacity: 1;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
}

#upimage-container-edit{
    background: url(../img/add_img_2.png) no-repeat center;
    -webkit-background-size: 10% auto; /* For WebKit*/
    -moz-background-size: 10% auto;    /* Mozilla*/
    -o-background-size: 10% auto;    /* Opera*/
    background-size: 10% auto;
    padding-left: 5px;
    width: 97%;
    height: 80px;
    font-family:  tahoma, arial, verdana, sans-serif, 'Lucida Sans';
    padding-left:5px;
    padding-right:5px;
    font-weight: bold;
    font-size: 12px;
    margin-top:10px;
    overflow: hidden;
    color:  rgb(0, 169, 213);
    border: 2px lightgray dashed;
    border-radius: 3px;
    text-align: center;
    opacity: 1;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
}

#new-idea-image-upload, #new-idea-image-upload-edit{
    margin-left: -5px;
    width: 100%;
    height: 100%;
    color:#446655;
    display: block;
    opacity: 0;
}

#upimage-container:hover{
    background: #EAFDFF url(../img/add_img.png) no-repeat center;
    -webkit-background-size: 11% auto; /* For WebKit*/
    -moz-background-size: 11% auto;    /* Mozilla*/
    -o-background-size: 11% auto;    /* Opera*/
    background-size: 11% auto;
}

#upimage-container-edit:hover{
    background: url(../img/add_img_2.png) no-repeat center;
    -webkit-background-size: 11% auto; /* For WebKit*/
    -moz-background-size: 11% auto;    /* Mozilla*/
    -o-background-size: 11% auto;    /* Opera*/
    background-size: 11% auto;
    cursor: pointer;
}

#new-idea-image-upload:hover, #new-idea-image-upload-edit:hover{
    cursor: pointer;
}

#uploaded-imgs-edit:hover{
    cursor: pointer;
}

.remove-photo{
    margin-left: 15%;
    margin-top: 15%;
    width: 70%;
    height: 70%;
    opacity: 0.8;
    display: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.remove-photo:hover{
    opacity: 1;
}

#ideas-description-layer div{
    display: inline;
    height: auto;
    width: 98%;
    text-align: justify;
}

#icon-close{
    width: 48px;
    height: 48px;
    top:5px;
    right: 5px;
    position: absolute;
    float: right;
    display: block;
    cursor: pointer;
    opacity: 0.5;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

#icon-close:hover{
    opacity: 1;
}
